.project_title_span {
  color: var(--secondary-color-green);
}

.projects_lists {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.projects_lists > li {
  background-color: var(--backdrop-color);
  padding: 1rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 1rem;
  align-items: center;
}

.project_image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}

.project_content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.project_title {
  font-size: 1.25rem;
  font-weight: 500;
}

.project_description {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  text-align: justify;
}

.modal_component {
  max-width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 5%;
  text-align: center;
}

.modal_component a {
  margin-top: 1rem;
  align-self: flex-start;
}

.modal_component button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--backdrop-color);
  color: var(--secondary-color-major);
  font-size: 1rem;
  border-radius: 0.5rem;
}

.modal_component button:hover {
  cursor: pointer;
  background-color: var(--secondary-color-major);
  color: var(--primary-color);
}

@media (max-width: 725px) {
  .projects_lists {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, min(100%, max(30%, 300px)));
    justify-content: center;
    column-gap: 2%;
    row-gap: 1rem;
  }

  .projects_lists > li {
    background-color: var(--backdrop-color);
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    row-gap: 1rem;
    font-weight: 300;
  }

  .modal_component {
    max-width: 100%;
  }
}
