.blogs_heading {
  color: var(--secondary-color-pink);
}

.blog_list {
  min-width: 100%;
  margin: auto;
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, min(100%, max(30%, 300px)));
  justify-content: center;
  column-gap: 2%;
  row-gap: 1rem;
}

.blog_card {
  background-color: var(--backdrop-color);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  row-gap: 1rem;
  font-weight: 300;
}

.blog_image {
  max-width: 100%;
  background-color: var(--secondary-color-major);
}

.blog_title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
}

.blog_description {
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
  text-align: justify;
}

.blog_link {
  align-self: flex-start;
}

.blog_link button {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  background-color: var(--backdrop-color);
  color: var(--secondary-color-major);
  font-size: 1rem;
  border-radius: 0.5rem;
}

.blog_link button:hover {
  cursor: pointer;
  background-color: var(--secondary-color-major);
  color: var(--primary-color);
}
