.toggleButton {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  /* max-width: 100%; */
}

.toggleButton > img {
  /* width: 100%; */
  height: 2rem;
  fill: red;
}
